[submodule "data"]
	path = data
	url = https://github.com/stavenko/orbital-adventure-data.git
	branch = master
[submodule "external/libRocket"]
	path = external/libRocket
	url = https://github.com/libRocket/libRocket
